// === Colors (Arcade Theme) ===
$color-bg: #000000;
$color-primary: #FF0055;
$color-secondary: #00FFFF;
$color-text: #ffffff;

$color-neon-blue: #00f2ff;
$color-neon-pink: #ff00ea;
$color-space-dark: #0b0e14;
$color-chrome: #b0c4de;

$font-main: 'Courier New', Courier, monospace;
